In [4]:
import pandas as pd
import numpy as np
import openpyxl
import matplotlib.pyplot as plt
#import os
import seaborn as sns
import warnings

In [5]:
warnings.filterwarnings('ignore')

In [6]:
data= pd.read_excel('Sales_project.xlsx')
sales_order= pd.read_excel('Sales_project.xlsx','Sales Orders Sheet')
customers=pd.read_excel('Sales_project.xlsx', 'Customers Sheet')
site_location= pd.read_excel('Sales_project.xlsx','Site Location sheet')
products= pd.read_excel('Sales_project.xlsx', 'Products_Sheet')
sales_team= pd.read_excel('Sales_project.xlsx','Sales Team Sheet')

In [7]:
sales_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   OrderDate         7991 non-null   datetime64[ns]
 2   CurrencyCode      7991 non-null   object
 3   _SalesAM_ID       7991 non-null   int64
 4   _CustomerID       7991 non-null   int64
 5   _SiteID           7991 non-null   int64
 6   _ProductID        7991 non-null   int64
 7   Order Quantity    7991 non-null   int64
 8   Discount Applied  7991 non-null   float64
 9   Unit Price        7991 non-null   float64
 10  Unit Cost         7991 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(5), object(2)
memory usage: 686.9+ KB

In [8]:
products.head(13)

,_ProductID,Product Name,Item/Service Description,Bandwidth
0,1,4G LTE connectivity,4G GO SMART 1GB/DAY,0
1,2,4G LTE connectivity,4G MUP 1GB/DAY GOV,0
2,3,4G LTE connectivity,4G GO PLATINUM 4GB/DAY,0
3,4,4G LTE connectivity,4G UNLIMITED 100GB,0
4,5,4G LTE connectivity,4G ONE NETWORK 3MBPS + INSTALLATION,0
5,6,4G LTE connectivity,4G 30GB Bundle,0
6,7,4G LTE connectivity,4G ONE NETWORK 5MBPS + DEVICE,0
7,8,COLOCATION,COLOCATION HALF RACK,0
8,9,Cloud Computing,Cloud 4vCPU. 8GB RAM. 300GB Storage,0
9,10,Cloud Computing,Cloud 12vCPU. 24GB RAM. 800GB Storage,0
10,11,Cloud Computing,Cloud 16vCPU. 32GB RAM. 1200GB Storage,0
11,12,DARK FIBER LEASE,DARK FIBER LEASE,0
12,13,Fiber Broadband Internet,FIBER INTERNET 1MBPS,1

In [9]:
products.loc[products.index == 45 ]

    _ProductID              Product Name   Item/Service Description  Bandwidth
45          46  Fiber Broadband Internet  FIBER INTERNET 10MBPS GOV         10

In [10]:
sales_order.head()

,OrderNumber,OrderDate,CurrencyCode,_SalesAM_ID,_CustomerID,_SiteID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost
0,SO - 000175,2018-06-09,RWF,1,1,107,1,1,0.075,2224.4,1579.324
1,SO - 0003171,2019-05-26,RWF,8,1,288,1,1,0.300,3966.4,2816.144
2,SO - 0003587,2019-07-16,RWF,11,1,129,1,2,0.100,3852.5,2658.225
3,SO - 0005097,2020-01-14,RWF,22,1,4,1,1,0.075,2505.8,1954.524
4,SO - 0005532,2020-03-04,RWF,11,1,48,1,1,0.100,3256.2,2767.770

# Data Augementation

In [11]:
#Drop the Currrency Column since it's universal
sales_order.drop(['CurrencyCode'], axis=1, inplace=True)

In [12]:
#Calculate total amount of each transaction with discount deduction
sales_order['Total Amount'] = (sales_order['Order Quantity']* sales_order['Unit Price'])-sales_order['Discount Applied']

In [13]:
#Create Month/Year column from datetime column
sales_order['Month'] = pd.DatetimeIndex(sales_order['OrderDate']).month
sales_order['Year'] = pd.DatetimeIndex(sales_order['OrderDate']).year

In [14]:
#Calculate profit from each individual sale transaction
sales_order['Profit'] = (sales_order['Unit Price']- sales_order['Unit Cost'])-sales_order['Discount Applied']

In [15]:
#Add Bandwidth purchased from each transaction
sales_order = sales_order.merge(products[['_ProductID','Bandwidth']], left_on = "_ProductID", right_on = "_ProductID", how = "left")

In [16]:
#Add last purchase data in days from
def last_purchase(customer_id, OrderIndex):
    customer_purchase = sales_order.query("_CustomerID == {customer_id}").sort_values(['OrderDate'])
    current_purchase_date = customer_purchase.loc[OrderIndex].OrderDate #current purchase data
    last_purchase_date = customer_purchase.loc[OrderIndex -1]

In [ ]:
#Group all prouduct demand by their months

In [ ]:
demand = pd.Dataframe()
for item in sales_order['_ProductID'].unique():
    demand[str(item)] = 0

In [124]:
demand = demand.set_index("Month-Year")

In [158]:
#Uniques months
len(sales_order['_ProductID'].unique())

47

In [172]:
sales_order.loc[(sales_order['Month-Year'] == '2018/06') & (sales_order['_ProductID'] == 1)].OrderNumber.count()

8

In [166]:
prod_demand = {}

In [169]:
for product in list(sales_order['_ProductID'].unique()):
    month_demand = []
    for mo in list(sales_order['Month-Year'].unique()):
        b = sales_order.loc[(sales_order['Month-Year'] == mo) & (sales_order['_ProductID'] == product)].OrderNumber.count() 
        month_demand.append(b)
    prod_demand[product] = month_demand

In [171]:
prod_demand[1]

[1,
 8,
 7,
 4,
 6,
 7,
 5,
 7,
 4,
 2,
 5,
 4,
 8,
 4,
 6,
 3,
 7,
 2,
 5,
 6,
 7,
 5,
 4,
 8,
 2,
 3,
 9,
 6,
 5,
 3,
 6,
 3]

In [134]:
for row in range(len(demand)):
    print(demand.iloc[row].name)

2018/05
2018/06
2018/07
2018/08
2018/09
2018/10
2018/11
2018/12
2019/01
2019/02
2019/03
2019/04
2019/05
2019/06
2019/07
2019/08
2019/09
2019/10
2019/11
2019/12
2020/01
2020/02
2020/03
2020/04
2020/05
2020/06
2020/07
2020/08
2020/09
2020/10
2020/11
2020/12

In [121]:
prod_demand = sales_order.groupby('Month-Year').agg(qty = ('_ProductID', 'sum')).astype({'qty':int})

In [122]:
prod_demand

             qty
Month-Year
2018/05      156
2018/06     6018
2018/07     5858
2018/08     6330
2018/09     6223
2018/10     5577
2018/11     6098
2018/12     7240
2019/01     7135
2019/02     5330
2019/03     5125
2019/04     6445
2019/05     6594
2019/06     6063
2019/07     6225
2019/08     6309
2019/09     5474
2019/10     5714
2019/11     6092
2019/12     6088
2020/01     6327
2020/02     5938
2020/03     5101
2020/04     6310
2020/05     6309
2020/06     5809
2020/07     6716
2020/08     5911
2020/09     6369
2020/10     6465
2020/11     6665
2020/12     5946

In [117]:
demand['Month-Year'] = sales_order['Month-Year'].unique()

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,Month-Year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/05
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/06
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/07
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/08
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/09
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/10
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/11
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/12
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/01
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/02
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/03
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/04
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/05
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/06
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/07
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/08
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/09
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/10
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/11
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/12
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/01
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/02
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/03
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/04
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/05
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/06
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/07
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/08
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/09
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/10
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/11
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/12

In [ ]:
sales_order.query

In [113]:
sales_order

,OrderNumber,OrderDate,_SalesAM_ID,_CustomerID,_SiteID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost,Total Amount,Month,Year,Profit,Bandwidth,Month-Year
3953,SO - 000104,2018-05-31,28,48,107,23,8,0.075,2324.9,1464.687,18599.125,5,2018,860.138,0,2018/05
752,SO - 000107,2018-05-31,10,14,6,5,4,0.150,1192.6,536.670,4770.250,5,2018,655.780,0,2018/05
1967,SO - 000101,2018-05-31,6,15,259,12,5,0.075,1963.1,1001.181,9815.425,5,2018,961.844,0,2018/05
67,SO - 000106,2018-05-31,12,21,285,1,5,0.050,1038.5,446.555,5192.450,5,2018,591.895,0,2018/05
4550,SO - 000102,2018-05-31,14,20,196,27,3,0.075,3939.6,3348.660,11818.725,5,2018,590.865,0,2018/05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4714,SO - 0007996,2020-12-20,6,14,194,28,8,0.075,991.6,644.540,7932.725,12,2020,346.985,0,2020/12
4743,SO - 0007887,2020-12-06,1,24,26,28,5,0.300,3966.4,2062.528,19831.700,12,2020,1903.572,0,2020/12
4807,SO - 0007854,2020-12-02,27,41,21,28,1,0.050,3115.5,1900.455,3115.450,12,2020,1214.995,0,2020/12
4842,SO - 0007929,2020-12-11,3,3,364,29,4,0.050,3752.0,2363.760,15007.950,12,2020,1388.190,0,2020/12
7990,SO - 0007879,2020-12-05,24,50,111,47,5,0.050,3999.9,2759.931,19999.450,12,2020,1239.919,1000,2020/12

In [88]:
demand = pd.DataFrame()
for product in list(sales_order['_ProductID'].unique()):
    demand[str(product)] = 0

In [18]:
#customer_purchase = sales_order.query("_CustomerID == 1").sort_values(['OrderDate'])
#current_purchase_date = customer_purchase.loc[0].OrderDate
#last_purchase_date = customer_purchase.iloc[0 -1]

In [19]:
#current_purchase_date

In [20]:
#sales_order.query("_CustomerID == 1").sort_values(['OrderDate'])

In [108]:
sales_order['Month-Year']= sales_order['OrderDate'].dt.strftime('%Y/%m')

In [22]:
#sales_order['_ProductID'].groupby([sales_order.Year]).agg('count')
#sales_order['_ProductID'].groupby([sales_order["Month-Year"]]).agg('count')

In [23]:
#sales_order.head()

# Cleaning data

In [24]:
sales_order.isnull().sum()

OrderNumber         0
OrderDate           0
_SalesAM_ID         0
_CustomerID         0
_SiteID             0
_ProductID          0
Order Quantity      0
Discount Applied    0
Unit Price          0
Unit Cost           0
Total Amount        0
Month               0
Year                0
Profit              0
Bandwidth           0
dtype: int64

# Building the model

## Predicting future products demand

In [36]:
x = sales_order.drop(["_ProductID","OrderNumber","OrderDate","Year"], axis="columns")
y = sales_order["_ProductID"]

In [37]:
sales_order.head()

,OrderNumber,OrderDate,_SalesAM_ID,_CustomerID,_SiteID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost,Total Amount,Month,Year,Profit,Bandwidth
0,SO - 000175,2018-06-09,1,1,107,1,1,0.075,2224.4,1579.324,2224.325,6,2018,645.001,0
1,SO - 0003171,2019-05-26,8,1,288,1,1,0.300,3966.4,2816.144,3966.100,5,2019,1149.956,0
2,SO - 0003587,2019-07-16,11,1,129,1,2,0.100,3852.5,2658.225,7704.900,7,2019,1194.175,0
3,SO - 0005097,2020-01-14,22,1,4,1,1,0.075,2505.8,1954.524,2505.725,1,2020,551.201,0
4,SO - 0005532,2020-03-04,11,1,48,1,1,0.100,3256.2,2767.770,3256.100,3,2020,488.330,0

In [38]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)
X_train.dtypes

_SalesAM_ID           int64
_CustomerID           int64
_SiteID               int64
Order Quantity        int64
Discount Applied    float64
Unit Price          float64
Unit Cost           float64
Total Amount        float64
Month                 int64
Profit              float64
Bandwidth             int64
dtype: object

In [39]:
# X_train = X_train.values.reshape(-1, 1)
# y_train = y_train.values.reshape(-1, 1)
# X_test = X_test.values.reshape(-1, 1)
# y_test = y_test.values.reshape(-1, 1)

In [53]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [54]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [57]:
X_train.shape

(5993, 11)

In [58]:
y_train.shape

(5993,)

In [59]:
y_pred=model.predict(X_test)

In [60]:
y_pred.shape

(1998,)

In [63]:
#y_test = y_test.reshape(-1, 1)
#y_pred = y_pred.reshape(-1, 1)

In [69]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test,y_pred)

1.6119120583868938

In [85]:
100-mean_absolute_percentage_error(y_test,y_pred)

98.38808794161311

In [86]:
b[8][0][0]

38

In [ ]:
#Aggregate